<div id="prod">
  <div id="user" v-show="person_name">
    <Avatar icon="ios-person"/>
    <div>{{ person_name }}，你好</div>
  </div>
  <Card class="card" :bordered="true" v-for="(prod, index) in prods" :key="index">
    <h2 slot="title">{{ prod.productName }}</h2>
    <Carousel>
      <CarouselItem class="img_wrap" v-for="(img, index) in prod.imgs" :key="index">
        <img :src="require(`@/assets/image/${img}.png`)">
      </CarouselItem>
    </Carousel>
    <p>{{ prod.description }}</p>
    <Row type="flex" justify="end">
      <p>
        <span id="price">
          {{prod.priceDescription}}
          <span>${{ prod.price }}</span>
        </span>
      </p>
    </Row>
    <Row type="flex" justify="end" id="btn">
      <Button size="large" @click="add_prod(index)" icon="md-add-circle">加入訂單</Button>
    </Row>
  </Card>
  <Modal class="modal" v-model="person_box" title="輸入您的姓名或綽號再下訂單" @on-ok="ok" @on-cancel="cancel">
    <Input
      v-model="person_name"
      prefix="ios-contact"
      placeholder="輸入您的姓名或綽號"
      style="width: 100%"
      ref="name"
      autofocus
    />
    <p>以後會依據此名子來下訂單，請填我認識的名子或綽號，請小心填寫，因為終身無法修改。</p>
  </Modal>
</div>